@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);
@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue-Roman.woff2") format('woff2'),
	url("../fonts/HelveticaNeue-Roman.woff") format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format('woff2'),
	url("../fonts/HelveticaNeueBoldCondensed.woff") format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format('woff2'),
	url("../fonts/HelveticaNeueBoldCondensed.woff") format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	margin: 0px auto;
	padding: 160px 165px 0px 165px;
	max-width: 420px;
}

.header__title {
	font-weight: 900;
	font-size: 100px;
	padding-bottom: 60px;
	color: crimson;
}

.main {
	
	
}
.block-1 {
	text-align: left;
	font-family: "Poppins", sans-serif;
	max-width: 420px;
}
.block-1__title {

	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 148%;
	letter-spacing: 0.8px;
	color: #323232;
	font-family: "Poppins", sans-serif;
}
.block-1__text {
	margin-right: 45px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 169%;
	letter-spacing: 1.15px;
	color: #323232;
	padding-bottom: 28px;
}
.block-1__button a{
	color: #FFFFFF;
}
.block-1__button {
	
	display: inline-block;
	background-color: #F78434;
	border-radius: 29px;
	padding: 18px 39px 17px;
	
}
.block-2 {
	padding-top: 50px;
	
	text-align: center;
	max-width: 420px;
	font-family: Poppins;
}
.block-2__img {
	padding-bottom: 20px;
}
.block-2__title {
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 63px;
	letter-spacing: 0.800000011920929px;
}
.block-2__text {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 1.149999976158142px;
}
.block-2__btn a{
	
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	color: #F78434;

}
.block-2__btn{
	padding: 50px 0px 35px 0px;
	
}
.block-3 {
	font-family: "Poppins", sans-serif;
	max-width: 350px;
	text-align: left;
	margin-bottom: 100px;
	padding: 5px;
	margin-left: 38px ;
}
.block-3__img {
}
.block-3__text {
	color: #323232;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 169%;
	letter-spacing: 1.15px;
	padding-right: 30px;
	padding-bottom: 20px;
}
.block-3__title {
	color: #323232;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.6px;
	padding-bottom: 10px;
}
.block-3__btn a {
	color: #58BEBF;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 1.15px;
	padding-bottom: 32px;
}
.block-3__btn {
}	
.block-4 {
	font-family: Helvetica Neue;
	background-color: #252525;
	max-width: 350px;
	margin-left: 45px;
	padding: 5px;
}

.block-4__title {
	font-family: Helvetica Neue;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: -0.2750000059604645px;
	text-align: left;
	color: #FFFFFF;
	padding-top: 24px;
	padding-bottom: 10px;
}
.block-4__line {
	width: 56px;
	height: 2px;
	background-color:#34C759;
	
}
.block-4__text {
	padding-top: 24px;
	padding-bottom: 60px;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
}
.block-5 {
	max-width: 360px;
	
	font-family: Helvetica Neue;
	background-color: #252525;
	margin-left: 45px;
}
.block-5__img {
}
.block-5__title {
	color: #D9D9D9;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 30px;
	padding-top: 29px;
	padding-left: 35px;
}
.block-5__subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.15px;
	color: #A4A8B2;
	padding-left: 35px;
}
.block-5__text {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: #85878C;
	padding-top: 20px;
	padding-left: 35px;
}
.block-5__stars {
	padding-top: 30px;
	display: inline-block;
}
.block-5__stars a{
	width: 100px;
	height: 40px;
	display: inline-block;
	border: 2px solid #303030;
	border-radius: 35px;
	font-style: normal;
	font-weight: 900;
	font-size: 10px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2em;
	color: rgba(255, 255, 255, 0.5);
	margin-top: 20px;
	margin-bottom: 30px;
	
}
.block-5__stars a:hover{
	background-color: crimson;
	color: black;
}
.block-5__stars img{
	padding-right: 41px;
	padding-top: 30px;
	padding-bottom: 28px;
	padding-left: 30px;
	display: inline-block;
}
.footer {
}